<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Winslew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Winslew.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginHasBeenTestedSuccessfully" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowReadItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentView" serializeAs="String">
                <value>less</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>849</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LicenseCode" serializeAs="String">
                <value />
            </setting>
            <setting name="IsValidLicense" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuyLicensePopupShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoredNewVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ListViewWidthTitle" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="ListViewWidthTags" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ListViewWidthAdded" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ListViewWidthUpdated" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ApiUserWarnPercentage" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ApiAppWarnPercentage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>BlackOnWhite</value>
            </setting>
            <setting name="TopGridHeight" serializeAs="String">
                <value>177</value>
            </setting>
            <setting name="PastebinEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PastebinSubdomain" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForLicense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefreshInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
        </Winslew.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
